
@font-face {
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    font-feature-settings: 'dlig' on;
    font-variation-settings: "wdth" 90 ;
    src: url('../fonts/mona_sans/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
}

* {
    font-family: "Mona Sans", sans-serif;
    letter-spacing: .025rem;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #F4F0E9;
  font-family: 'Mona Sans', sans-serif !important;
}

body.is-app .hidden-app {
  display: none !important;
}

body.is-app #app {
  padding-top: 0px;
}

#app {
  padding: 3.5rem 1rem 1.5rem 1rem; /* 56px for top bar */
}

p, strong, b, small, select {
    font-variation-settings: "wdth" 92;
    font-weight: 400;
    line-height: 125%;
    color: #4D4E4D;
}

input[type='radio'] {
    accent-color: #134F63;
}

select {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #E1E6EF;
    height: 2.75rem !important;
    background-image: url("../icons/select_arrow.svg") !important;
    background-position: calc(100% - 0.75rem) !important;
    background-repeat: no-repeat !important;
    border-radius: 0.5rem !important;
    padding-right: 2.5rem !important;
}


/* Devtools */
.step,
.step > * {
  /*display: block !important;*/
}

.step {
  animation: step-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Default hiddens */
.pagination-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.prev-btn-wrapper, .next-btn-wrapper {
    flex: 1;
}


.prev-btn, lime-form[form-id="DI6su97z1SAALJXZBxYA"] #simpliform .btn-default {
    border-radius: 0.75rem !important;
    font-size: 1.125rem !important;
    min-width: calc(var(--base, 8px) * 9);
    padding: 0.5rem 1.5rem !important;
    width: 100%;
    font-weight: 600 !important;
    cursor: pointer;
    margin-right: 0px !important;
}

lime-form[form-id="DI6su97z1SAALJXZBxYA"] #simpliform .btn-default.btn-default.btn-default:hover {
    color: inherit !important;
    background-color: #c7c7c7 !important;
}

/* Resets */
#simpliform .p-t-md {
  padding-top: 1rem !important;
}

#simpliform .m-r-md {
    margin-right: 0rem !important;
}

.pagination-wrapper, .progress, #confirmation, .alert-danger {
  margin-left: 0;
  margin-right: 0;
}

#simpliform .form-group {
  margin-bottom: 1rem !important;
}


#simpliform p {
    font-size: 1rem;
}

#simpliform label {
    color: #4D4E4D;
    font-style: normal;
    font-weight: 550 !important;
    line-height: 125%;
}

/* Headings */
#simpliform .h1,
#simpliform .h2,
#simpliform .h3,
#simpliform .h4,
#simpliform .h5,
#simpliform .h6,
#simpliform h1,
#simpliform h2,
#simpliform h3,
#simpliform h4,
#simpliform h5,
#simpliform h6 {
  font-family: 'Mona Sans', sans-serif !important;
  font-weight: 650 !important;
  margin-top: 0 !important;
  font-variation-settings: "wdth" 86 !important;
}

#simpliform #confirmation h1.h4 {
  color: #004E68 !important;
  font-size: 28px !important;
   margin-bottom: 1.5rem !important;
}

#simpliform .step-title h3, #simpliform .step h3:first-child {
    height: 78px !important;
    position: relative;
    left: 50%;
    right: 50%;
    width: 100dvw;
    margin-left: -50dvw;
    margin-right: -50dvw;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    font-size: 1.75rem !important;
    font-weight: 650 !important;
    letter-spacing: 0.035rem;
    background: #6398AA;
    color: white;
}

/* Dropzones */
#simpliform .dropzone,
#simpliform .form-control {
  box-shadow: none;
  border-radius: 0.5rem !important;
   border: 1px solid #E1E6EF !important;
    color: #4D4E4D !important;
    letter-spacing: .025rem !important;
}
#simpliform .form-control::placeholder {
    color: #8C8C8C !important;
}

#simpliform input.form-control  {
    height: 2.75rem !important;
}

#simpliform .label-wrap {
    color: #4D4E4D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 550;
    line-height: 125%;
}

#simpliform .dropzone {
  min-height: initial;
  display: flex;
  gap: 1rem;
    border: 2px dashed #6398AA !important;
}

#simpliform .dropzone .dz-preview {
  display: grid;
  gap: 12px;
}

#simpliform .dropzone .dz-preview .dz-image {
  border-radius: 4px !important;
  background: #fff !important;
  box-shadow: 0px 0.7px 5.3px rgba(0, 0, 0, 0.028), 0px 2.2px 17.9px rgba(0, 0, 0, 0.042), 0px 10px 80px rgba(0, 0, 0, 0.07);
}

#simpliform .dropzone .dz-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6398AA;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    width: 100%;
}

/* Panel */
#simpliform .panel .panel-body,
#simpliform .panel .panel-heading {
  padding: 0;
}

#simpliform .panel,
body #simpliform #confirmation .checkbox {
  background: #fff;
  box-shadow:
  0px 0.7px 5.3px rgba(0, 0, 0, 0.028),
  0px 2.2px 17.9px rgba(0, 0, 0, 0.042),
  0px 10px 80px rgba(0, 0, 0, 0.07);
  padding: 24px;
  border-radius: 4px;
  border: none;
  margin-bottom: 2rem;
}
#simpliform .next-btn-wrapper {
    width: 100% !important;
    margin: 0 auto !important;
}

#simpliform .btn-primary, .btn-success {
    background: #0e5873 !important;
    border-radius: 0.75rem !important;
    width: 100% !important;
    color: white !important;
    font-size: 1.125rem !important;
    font-weight: 500 !important;
 }

#simpliform .pagination-wrapper .btn-primary,
#simpliform .btn-success {
  border-radius: var(--c-button-border-radius,var(--radius-md,var(--base,8px)));
  font-size: 1.125rem !important;
  min-width: calc(var(--base, 8px)*9);
  padding: 0.5rem 1.5rem !important;
  background-color: var(--c-button-primary-color,var(--color-primary));
  width: 100%;
  font-weight: 600 !important;
  cursor: pointer;
}

#simpliform .pagination-wrapper .btn-primary:hover,
#simpliform .btn-success:hover {
  background-color: #134F63 !important;
}


#simpliform .pagination-wrapper .btn-primary svg,
#simpliform .btn-success svg {
  display: none;
}

/* Description textarea */
#simpliform textarea.form-control {
   min-height: 120px;
    color: #4D4E4D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}
#simpliform textarea::placeholder {
    color: #8C8C8C;
}

#simpliform .radio label {
    color: #1D2433;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 125%;
}

/* Location step */
#viewDiv {
  margin-bottom: 1rem !important;
  height: 500px !important;
}

#simpliform .field-map {
  padding: 0;
}

/* Icons */
#simpliform .fa-icon {
  display: none !important;
}
#simpliform .fa-icon + b {
  margin-left: -1ch;
}

/* Simpliforms alerts */
#simpliform a,
#simpliform a:active,
#simpliform a:visited {
  color: #134F63 !important;
    font-weight: 550 !important;
    font-size: 1rem !important;
    text-decoration: none !important;
}

#simpliform a:hover {
    color: #134F63 !important;
    font-weight: 550 !important;
    font-size: 1rem !important;
    text-decoration: underline !important;
}

#simpliform .alert {
  padding: calc(var(--base, 8px)*2) calc(var(--base, 8px)*3);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  border: none;
}

#simpliform .alert ul {
  padding-left: 1.2em;
}

#simpliform .alert.alert-info {
    display: inline-block;
    width: 100%;
    background-color: white !important;
    color: #4D4E4D !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
}

#simpliform .alert.alert-info strong {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 125%;
    color: #4D4E4D;
}

#simpliform .alert.alert-info a {
    display: inline !important;
    margin-top: 1rem !important;
}


#simpliform .alert.alert-danger {
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #4D4E4D !important;
    line-height: 125%;
}

#simpliform .alert.alert-danger a.alert-link {
  color: #134F63;
}

#simpliform .alert b {
  font-weight: normal;
}

#simpliform .alert {
  line-height: 1.5em;
}
#simpliform .alert>p+p {
  margin-top: 0;
}

#simpliform .alert .h5.no-m-t {
  margin-bottom: 0;
}

#simpliform .alert .h5.no-m-t + ul:empty {
  display: none;
}

#simpliform .alert a,
#simpliform .alert a:hover,
#simpliform .alert a:active,
#simpliform .alert a:visited {
  color: inherit;
  text-decoration: underline;
  font-weight: normal;
}

/* Success message */
#simpliform  .success-message {
  padding: calc(var(--base, 8px)*2) calc(var(--base, 8px)*3);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  border: none;
  box-shadow:
  0px 0.7px 5.3px rgba(0, 0, 0, 0.028),
  0px 2.2px 17.9px rgba(0, 0, 0, 0.042),
  0px 10px 80px rgba(0, 0, 0, 0.07);
  background-color: #3d3d3d;
  color: #fff;
}

#simpliform .success-message .text-center {
  text-align: left;
}

#simpliform .success-message a,
#simpliform .success-message a:hover,
#simpliform .success-message a:active,
#simpliform .success-message a:visited {
  color: inherit;
  text-decoration: underline;
  font-weight: normal;
}

#simpliform .alert-danger a,
#simpliform .alert-danger a:hover,
#simpliform .alert-danger a:active,
#simpliform .alert-danger a:visited {
  color: inherit;
  text-decoration: underline;
  font-weight: normal;
}

/* Column reset */
#simpliform .col-lg-1,
#simpliform .col-lg-10,
#simpliform .col-lg-11,
#simpliform .col-lg-12,
#simpliform .col-lg-2,
#simpliform .col-lg-3,
#simpliform .col-lg-4,
#simpliform .col-lg-5,
#simpliform .col-lg-6,
#simpliform .col-lg-7,
#simpliform .col-lg-8,
#simpliform .col-lg-9,
#simpliform .col-md-1,
#simpliform .col-md-10,
#simpliform .col-md-11,
#simpliform .col-md-12,
#simpliform .col-md-2,
#simpliform .col-md-3,
#simpliform .col-md-4,
#simpliform .col-md-5,
#simpliform .col-md-6,
#simpliform .col-md-7,
#simpliform .col-md-8,
#simpliform .col-md-9,
#simpliform .col-sm-1,
#simpliform .col-sm-10,
#simpliform .col-sm-11,
#simpliform .col-sm-12,
#simpliform .col-sm-2,
#simpliform .col-sm-3,
#simpliform .col-sm-4,
#simpliform .col-sm-5,
#simpliform .col-sm-6,
#simpliform .col-sm-7,
#simpliform .col-sm-8,
#simpliform .col-sm-9,
#simpliform .col-xs-1,
#simpliform .col-xs-10,
#simpliform .col-xs-11,
#simpliform .col-xs-12,
#simpliform .col-xs-2,
#simpliform .col-xs-3,
#simpliform .col-xs-4,
#simpliform .col-xs-5,
#simpliform .col-xs-6,
#simpliform .col-xs-7,
#simpliform .col-xs-8,
#simpliform .col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}

#simpliform .row {
  margin-left: 0;
  margin-right: 0;
}

/* Header grid */
#header {
  display: grid;
  gap: 1rem;
}

/* Get the app banner */
#app-banner {
  background-color: #3d3d3d;
  color: #fff;
  filter: var(--drop-shadow-5,drop-shadow(0 calc(12px*var(--drop-shadow-amount, 1)) calc(14px*var(--drop-shadow-amount, 1)) var(--drop-shadow-color,rgba(0,0,0,.3))));
  padding: calc(var(--base, 8px)*2) calc(var(--base, 8px)*3);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  box-shadow:
  0px 0.7px 5.3px rgba(0, 0, 0, 0.028),
  0px 2.2px 17.9px rgba(0, 0, 0, 0.042),
  0px 10px 80px rgba(0, 0, 0, 0.07);
  margin-bottom: 2rem;
}

#app-banner .c-button {
  display: inline-flex;
  text-decoration: none;
  border: 1px solid;
  text-transform: uppercase;
  color: #fff;
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 2px;
  font-size: .9em;
  transition: background-color 100ms;
}

#app-banner .c-button:hover {
  background-color: rgba(255,255,255,.2);
}

/* Toolbar */
#toolbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

#toolbar .c-button,
#toolbar .c-button:active,
#toolbar .c-button:focus,
#toolbar .c-button:hover {
  margin-bottom: -3px;
  text-decoration: none;
  color: #000;
  animation: option-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#toolbar .c-button:after {
  content: "";
  display: block;
  height: 3px;
  background-color: #134F63;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  transition: width 100ms;
}

#toolbar .c-button:hover:after {
  width: 100%;
}

#toolbar .c-button .c-button__label {
  display: flex;
  align-items: center;
  line-height: 14px;
  gap: 6px;
}

/* Utilities */
.u-display--none {
  display: none !important;
}

/* Icons */
.c-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.c-icon.c-icon--back {
  background-image: url(../icons/back.svg);
}

.c-icon.c-icon--close {
  background-image: url(../icons/close.svg);
}


/* validation dialog hide; (there is feedback under every field, so it's kinda redundant) */
#simpliform .alert-danger.validation-messages {
    display: none !important;
}

/* STEP 1 */

#simpliform .step-1 .prev-btn-wrapper {
    display: none !important;
}
#simpliform .step-1 select-dynamic-helpdesktype-field label {
    display: none !important;
}

#simpliform .step-1 .alert.alert-info:first-child {
    background: #D9F0F4 !important;
}

/* STEP 2 */

#simpliform .step-2 {
    display: grid;
    grid-template-columns: 1fr;
}

#simpliform .step-2 .alert {
    grid-row: 2;
    margin-bottom: 2rem !important;
    background: #FCE0DE !important;
}

#simpliform .step-2 [module-uuid="7a8b0885-715e-42e5-bbd5-fad49f9ea3c5"] {
    font-size: 1rem;
    font-weight: 700 !important;
    color: #4D4E4D;
}

#simpliform .step-2 #minimapbody {
    height: 400px !important;
}

/* STEP 4 */

/* input fields in contact information step */
#simpliform .step-4 .form-field {
    padding: 0 !important;
}

/* STEP 5 */

/* cards in confirm details step */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] > div {
    background: white !important;
    border: none !important;
    box-shadow: none !important;
    padding: 15px !important;
    color: #222 !important;
}

/* card title */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] strong {
    color: #4D4E4D;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

/* card details fields */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] > div:nth-of-type(4) {
    grid-template-columns: 1fr !important;
    gap: 0.75rem !important;
}

/* card field title */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] > div:nth-of-type(4) strong, #simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] > div:nth-of-type(4) b {
    color: #4D4E4D;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

/* "Så behandlar vi dina personuppgifter" */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] {
    margin-bottom: 1rem !important;
}

/* checkbox padding */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] .checkbox {
    padding: 0 !important;
}

/* checkbox label */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] .checkbox label {
    color: #1D2433;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 125%;
}

/* checkbox filed empty boxes */
#simpliform .step-5 [module-uuid="78e55d6e-fb58-478f-af31-358d14bc3d96"] div:empty, #simpliform .step-5 [data-type="CheckboxField"] .label-wrap {
    display: none !important;
}

/* checkbox field background */
#simpliform .step-5 [data-type="CheckboxField"] div {
    background: none !important;
}

/* Final success message */
#simpliform .success-message {
    background: white;
    margin-top: 1rem;
}

